
<app-menu></app-menu>
<router-outlet></router-outlet>

<!--
<div class="text-layout">

  <h1>{{ nombre | titlecase}}</h1>
  <h1>{{ valor | number}}</h1>
  <h1>{{ obj | json}}</h1>

</div>
<button
 pButton
 (click) = "mostrarNombre()"
 label="Cambiar nombre"
 class="p-button-help"
 icon="pi pi-check" iconPos="right"
></button>
<p-card
  [header]="nombre | titlecase"
  subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem mollitia magnam laboriosam tempora, magni obcaecati esse reiciendis quisquam nulla nesciunt iusto maiores consequatur ratione a aperiam beatae impedit! Magni, aliquid.
</p-card>




 -->
